<domain type='kvm'>
  <name>{{ item.0 }}-re</name>
  <memory unit="Mb">1024</memory>
  <vcpu placement="static">1</vcpu>
  <resource>
    <partition>/machine</partition>
  </resource>
  <sysinfo type='smbios'>
    <bios>
      <entry name='vendor'>Juniper</entry>
    </bios>
    <system>
      <entry name='manufacturer'>VMX</entry>
      <entry name='product'>VM-vmx_vcp-161-re-0</entry>
      <entry name='version'>0.1.0</entry>
    </system>
  </sysinfo>
  <os>
    <smbios mode='sysinfo'/>
    <type arch='x86_64' machine='pc-i440fx-rhel7.0.0'>hvm</type>
    <boot dev='hd'/>
  </os>
  <features>
    <acpi/>
    <apic/>
    <pae/>
  </features>
  <cpu mode="host-model">
    <topology cores="1" sockets="1" threads="1" />
  </cpu>
  <clock offset='utc'/>
  <on_poweroff>destroy</on_poweroff>
  <on_reboot>restart</on_reboot>
  <on_crash>restart</on_crash>
  <devices>
    <emulator>/usr/libexec/qemu-kvm</emulator>
    <disk type='file' device='disk'>
      <driver name='qemu' type='qcow2' cache='directsync'/>
      <source file='/var/lib/libvirt/images/{{ item.0 }}-re.img'/>
      <target dev='vda' bus='virtio'/>
    </disk>
    <disk type='file' device='disk'>
      <driver name='qemu' type='qcow2' cache='directsync'/>
      <source file='/var/lib/libvirt/images/{{ item.0 }}-re-hdd.img'/>
      <target dev='vdb' bus='virtio'/>
    </disk>
    <disk type='file' device='disk'>
      <driver name='qemu' type='raw' cache='directsync'/>
      <source file='/var/lib/libvirt/images/{{ item.0 }}-re-usb.img'/>
      <target dev='vdc' bus='virtio'/>
    </disk>
    <controller type='usb' index='0' model='none' />
    <controller type='pci' index='0' model='pci-root' />
    <interface type='network'>
      <source network='br-data' portgroup='vlan-60-mgmt'/>
      <virtualport type='openvswitch'/>
      <target dev='{{ item.0 }}-re-fxp0'/>
      <model type='virtio'/>
    </interface>
    <interface type='network'>
      <source network='br-data' portgroup='{{ item.0 }}-internal'/>
      <virtualport type='openvswitch'/>
      <target dev='{{ item.0 }}-re-em1'/>
      <model type='virtio'/>
    </interface>
    <serial type='pty'>
      <target port='0'/>
    </serial>
    <console type='pty'>
      <target type='serial' port='0'/>
    </console>
    <input type='mouse' bus='ps2' />
    <input type='keyboard' bus='ps2' />
    <sound model='ac97' />
    <video>
      <model type='cirrus' vram='16384' heads='1' primary='yes'/>
    </video>
    <memballoon model='virtio' />
  </devices>
</domain>
